@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.navbar-default {
	background-image: none;
	margin-bottom: 0;
}

.section-heading {
	margin-bottom: 50px;
	font-family: 'Roboto', sans-serif;
}

.section {
	border-bottom: 1px solid #e6e6e6;
	padding: 30px 0;
	font-family: 'Roboto', sans-serif;
}

.section-paragraph {
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
}

.search-title {
	margin: 30px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}