@import "https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Arbutus+Slab&display=swap";
body {
  font-family: "Arbutus";
  background-color: #37393c;
  color: #efefef;
  margin: 0; }
  body html {
    height: 100%; }
  body #bg {
    clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
    background-color: #980d0d;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
    @media (min-width: 840px) {
      body #bg {
        clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%); } }
    @media (max-width: 575px) {
      body #bg {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }

.navbar {
  background-image: none;
  margin-bottom: 0; }
  .navbar .navbar-brand {
    font-size: 2rem; }
  .navbar .container-fluid {
    margin-left: 0;
    padding-left: 0; }

.navbar-brand {
  margin-left: 0px; }

.section-heading {
  margin-bottom: 50px; }

#monsterName {
  width: 100%;
  height: 35px;
  font-size: 18px;
  background-color: tan;
  border: 1px black solid;
  padding-left: 12px; }
  @media (max-width: 575px) {
    #monsterName {
      width: 90%;
      margin: 0 5%; } }

#category-dropdown {
  width: 100%;
  font-size: 18px;
  background-color: tan;
  border: 1px black solid;
  height: 35px;
  padding-left: 10px; }
  @media (max-width: 575px) {
    #category-dropdown {
      width: 90%;
      margin: 0 5%; } }

#search-button {
  width: 90%;
  float: right;
  background-color: tan;
  border: 1px black solid;
  height: 35px;
  padding: 0;
  font-size: 18px;
  text-align: center; }
  #search-button:hover {
    background-color: #37393c;
    color: #efefef; }
  @media (max-width: 575px) {
    #search-button {
      width: 90%;
      float: none;
      margin: 0 5%; } }

.result-dropdown-div {
  margin: 0;
  padding: 0; }
  .result-dropdown-div #selector {
    display: none;
    width: 100%;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    height: 30px;
    font-size: 18px;
    background-color: tan; }
  @media (max-width: 575px) {
    .result-dropdown-div {
      width: 90%;
      margin: 0 5%;
      text-align: center; } }

.section {
  padding: 0 0 30px; }
  @media (max-width: 575px) {
    .section {
      padding-bottom: 20px; } }

.section-paragraph {
  line-height: 1.2; }

.search-title {
  margin-bottom: 10px;
  display: inline-block; }

.search-row {
  padding: 0;
  margin: 0; }

.card-anchor .card {
  background-color: tan;
  color: #272727;
  padding: 15px;
  width: 80%;
  height: auto;
  margin: 15px;
  text-align: justify;
  border-radius: 15px;
  display: inline-block; }
  @media (max-width: 575px) {
    .card-anchor .card {
      width: 99%;
      margin: auto 0;
      padding: 5px; } }
  .card-anchor .card #welcome {
    text-align: center; }
  .card-anchor .card .not-found-error {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-align: center; }
  .card-anchor .card .loader {
    display: inline-block;
    position: relative;
    left: -webkit-calc(50% - 50px);
    left: -moz-calc(50% - 50px);
    left: calc(50% - 50px);
    top: 50%;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #37393c;
    border-right: 16px solid #980d0d;
    border-bottom: 16px solid #a1763d;
    border-left: 16px solid #272727;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 30px 0 30px; }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .card-anchor .card .card-heading {
    font-size: 18px;
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center; }
  .card-anchor .card #stat-background {
    height: auto;
    width: 100%;
    margin-top: 30px;
    background-color: #37393c;
    color: lightgray;
    border-radius: 15px; }
  .card-anchor .card .feature-block {
    padding: 15px;
    display: inline-block;
    font-family: "Arbutus";
    font-size: 17px;
    text-align: left; }
    @media (max-width: 575px) {
      .card-anchor .card .feature-block {
        padding: 0 0 10px; } }
  .card-anchor .card #cvs-anchor {
    background-color: #37393c;
    border-radius: 15px;
    text-align: center;
    height: 350px; }
    @media (max-width: 767px) {
      .card-anchor .card #cvs-anchor {
        width: 100%;
        height: 280px;
        margin-bottom: 10px; } }
    @media (max-width: 575px) {
      .card-anchor .card #cvs-anchor {
        width: 100%;
        height: 280px;
        margin-bottom: 10px; } }
  .card-anchor .card #cvs {
    margin-top: 30px;
    display: inline-block; }
    @media (max-width: 767px) {
      .card-anchor .card #cvs {
        width: 300px; } }
    @media (max-width: 575px) {
      .card-anchor .card #cvs {
        width: 300px; } }
  .card-anchor .card #class-can-use {
    display: block;
    width: 100%;
    font-family: "Arbutus";
    font-size: 16px; }
  .card-anchor .card #spell-description {
    display: block;
    width: 100%;
    font-family: "Arbutus";
    background-color: lightgrey;
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 0;
    font-size: 16px; }
  .card-anchor .card div h2 {
    margin-top: 15px; }
  .card-anchor .card div p {
    margin-top: 15px;
    font-size: 17px; }
  .card-anchor .card #action-collapse {
    background-color: #a1763d;
    color: black;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none; }
    .card-anchor .card #action-collapse:after {
      content: '\02795';
      /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      color: black;
      float: right;
      margin-left: 5px; }
    .card-anchor .card #action-collapse:hover {
      background-color: #980d0d;
      color: #efefef; }
      .card-anchor .card #action-collapse:hover::after {
        color: #efefef; }
    .card-anchor .card #action-collapse span {
      display: inline-block; }
    .card-anchor .card #action-collapse.inactive {
      border-radius: 15px; }
    .card-anchor .card #action-collapse.active {
      background-color: #980d0d;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
      .card-anchor .card #action-collapse.active:after {
        content: '\2796';
        /* Unicode character for "minus" sign (-) */ }
  .card-anchor .card .content {
    padding: 0 18px;
    background-color: lightgrey;
    display: none;
    overflow: hidden;
    overflow: hidden;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 15px; }
  .card-anchor .card .special-abilities {
    background-color: lightgray;
    height: auto;
    position: relative;
    padding: 10px;
    display: block;
    border-radius: 15px;
    margin-top: 15px; }

/*# sourceMappingURL=style.css.map */
